*{
  margin: 0px;
  box-sizing: border-box;
}
.logo  > img{
    width: 110px;
    height: 110px;
    padding: 5px 20px;
    padding-top: 30px;
}

.info > ul{
    display: inline-flex;    
    
}
.main>div>h1{
   color:rgb(255, 0, 81);
   padding-top: 40px; 
}
.main{
  display: inline-flex;
  column-gap: 20px; 
}

.info{
    padding-top: 40px;
}

i{
    color:rgb(255, 0, 81);
}
.nav-main{
    display: flex;
    column-gap: 30%;
    padding: 10px;
    background-color: rgb(192, 7, 65);
    
}
.nav-head1 >ul{
    display: inline-flex;
    column-gap:40px;
    padding-left: 15px;
}
li{
    display: inline-block;
    text-decoration: none;
}
.nav-head1>ul>li{
    font-weight: bolder;
    font-size: x-large;
    color:rgb(255, 0, 81) ;
}

.nav-head2>button{
    background-color: rgb(255, 0, 81);
    color: white;
    font-size: medium;
    font-weight: bolder;
    border: 0px;
    width: 150px;  
    height: 40px;
    border-radius: 30px;
}
.info{
    margin-left: 400px;
}
.image1 img{
    width:100%;
    height: 800px;
}
.info1{
    margin-right: 20px;
    margin-left: 10px;
}
.nav-head2{
    margin-left: 30px;
}
.image1{
    position: relative;
    text-align: center;
}
.text-content1{
    position: absolute;
    top:20%;
    left:50%;
    transform:translate(-50%);
    font-size: 50px;
    color:rgb(255, 0, 81);
}
.inp1{
    width: 70%;
    height: 50px;
    border: 0px;
    border-radius:10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.inp2{
    width:30%;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color:rgb(255, 0, 81);
    font-weight: bolder;
}
.image2 img{
    width:500px;
    height:600px;
    border-radius: 30px;
}
.section2{
    padding: 100px;
    display: flex;
    column-gap: 50px;
}

.text-content2{
    font-size: x-large;
    padding: 20px;
}
.text-content2 > h3{
    color: rgb(255, 0, 81);
    font-size: xx-large;
}
.inp3{
    width:20%;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color:rgb(255, 0, 81);
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.heading{
    font-size: 50px;
    font-weight: bolder;
    color:rgb(255, 0, 81);
    position:absolute;
    top:1750px;
    left: 50%;
    transform: translate(-50%);
}
.image-container1 {
    position: relative;
    flex: 20%;
    margin: 0px 5px 4px 5px;
}    
.text-overlay {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:rgb(255, 0, 81);
    font-size: 25px;
}

.image-container1> img{
    width:100%;
    height: 30vh;
}
.subject{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 75px 100px 75px;
}
.section3{
    background-image: url("./image3.jpg");
    background-size:cover;
    background-position: center;
    padding: 75px 50px 100px 50px;
    display: flex;
    column-gap: 20px;
}
.content1{
    color: white;
    font-size:20px;
    margin-right: 70px;
}

.content2{
    width: 500px;
    height:400px;
    background:rgb(255, 0, 81);
    border-radius: 18px;
    text-align: center;
    margin-top: 50px;
}
.content2>h1{
    background-color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 15px;
    font-size: xx-large;
}
.sign-btn{
    background-color: black;
    color: white;
    width:400px;
    height: 50px;
    font-size:20px;
    border-radius: 18px;
}
form{
    padding: 25px;
}
form>input{
    margin: 15px;
    width: 400px;
    height: 50px;
    border-radius: 18px;
    border: none;
    font-size:20px;
    text-align: center;
}
.imagecontainer2{
    position: relative;
    flex:10%;
    margin: 0px 5px 4px 5px;
}    
.Textoverlay1{
    position: absolute;
    top:100%;
    left: 10%;
    transform: translate(-10%,-90%);
    background-color:rgb(255, 0, 81);
    font-size: 25px;
    color: white;
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
}

.imagecontainer2> img{
    width:100%;
    height:100%;
    border-radius: 18px;
}
.section4{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px 100px 50px;    
}
.heading1{
    text-align: center;
    color:rgb(255, 0, 81);
    font-size: 40px;
    padding-top: 150px;
}
footer{
    background-color:rgb(192, 7, 65);
}

.footer-sect{
    display: flex;
    column-gap:5%;
    padding: 100px 150px;
    font-size: large;

}
.footer-sect-1, .footer-sect-2, .footer-sect-3{
    margin-right: 50px;
    margin-bottom: 5px;
}

.inpt-container{
    display: flex;
    position:relative;
    top: 0px;
    bottom: 0px;
    margin: 10px 0;
}

.inpt-container>button{
    background-color:rgb(255, 0, 81) ;
    text-decoration: none;
    border: none;
    height: 40px;
    position: absolute;
    right: 90px;
    width: 100px;
    color: white;
    font-size: medium;
    border-radius: 0 5px 5px 0;
}
.inpt-container>input{
    width:300px;
    height: 39px;
    padding: 0 16px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.footer-sect-1>,p,span{
    padding-bottom: 5px;
}
input:focus{
    outline: none;
}